html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: radial-gradient(circle at 10% 20%, rgba(20, 32, 52, 1) 0%, rgba(12, 17, 28, 1) 60%);
    color: #e7ebf4;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('assets/fonts/nunito-v16-latin-regular.woff2') format('woff2');
}

#root {
    width: 100%;
}
